@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

/* GENERAL */
window#waybar {
    background-color: #292941;
    transition: background-color .5s;
    border-radius: 20px;
}

/* Bloques con padding horizontal */
#cpu,
#memory,
#custom-wayves,
#custom-notification,
#tray,
#battery,
#network,
#pulseaudio,
#clock,
#custom-launcher {
    padding: 0 10px;
    border-radius: 20px;
}

/* Colores y estilos */
#cpu,
#memory {
    min-width: 75px;
    margin-right: 20px;
    color: white;
}

#custom-launcher {
    min-width: 25px;
    font-size: 20px;
    color: rgb(0, 132, 255);
    margin-right: 0px;
}

/*Custom wayves*/

#custom-wayves {
    background: none;
    background-color: transparent;
    animation: none;
    color: white;
    margin-right: 20px;
}

#custom-notification,
#tray,
#network,
#battery,
#pulseaudio,
#clock {
    color: white;
    margin-right: 20px;
}

/* Workspaces */
#workspaces button.active {
    background-color: #484881;
    border-radius: 20px;
}

/* Hover effects */
#custom-launcher:hover {
    background-color: @color3;
    color: black;
}

#workspaces button:hover,
#custom-launcher:hover,
#custom-notification:hover,
#custom-wayves:hover,
#tray:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover,
#memory:hover,
#cpu:hover {
    background: linear-gradient(270deg, @color2, @color6, @color10, @color14, @color0);
    animation: rgbShift 10s ease infinite;
    color: black;
    padding: 0 10px;
    border-radius: 20px;
}